.brand-img{
    width: 150px;
    object-fit: contain;

}
.brand{
     width: 100%;
     height: 60px;  
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.brand-container{
    background-color: #EBD96B;
    width: 100%;
    overflow-x: auto;
    padding: 10px;
    overflow-y: hidden;

}
