.detail-container {
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 80px;
  }
  
  .carousel-container {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
  }
  
  .carousel-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
  
  .carousel-caption h3, .carousel-caption p {
    color: black !important;
  }
  
  .detail-card {
    width: 100%;
    max-width: 600px;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(1);
  }
  