@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
.bg-img{
  background: url('../Images/bg.png');
  background: url('../Images/bg.png');
  height: 100vh;
  background-size: contain;
  object-fit: cover;
  background-position: center;
  /* position: relative; */
  /* width: fit-content; */
  /* display: inline-block; */

}
.bg-img:after{
  position: relative;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.7);
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  text-align: center;
  padding: 60px 32px;
  width: 370px;
  transform: translate(-50%,-50%);
  background: rgba(255,255,255,0.04);
  box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
}
.content header{
  color: white;
  font-size: 33px;
  font-weight: 600;
  margin: 0 0 35px 0;
  font-family: 'Montserrat',sans-serif;
}
.field{
  position: relative;
  height: 45px;
  width: 100%;
  display: flex;
  background: rgba(255,255,255,0.94);
}
.field span{
  color: #222;
  width: 40px;
  line-height: 45px;
}
.field input{
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #222;
  font-size: 16px;
  font-family: 'Poppins',sans-serif;
}
.space{
  margin-top: 16px;
}
.show{
  position: absolute;
  right: 13px;
  font-size: 13px;
  font-weight: 700;
  color: #222;
  display: none;
  cursor: pointer;
  font-family: 'Montserrat',sans-serif;
}
.pass-key:valid ~ .show{
  display: block;
}
.pass{
  text-align: left;
  margin: 10px 0;
}
.pass a{
  color: #c3c3c3;
  text-decoration: none;
  background-color: #c3c3c3;
  font-family: 'Poppins',sans-serif;
}
.pass:hover a{
  text-decoration: underline;
  cursor: pointer;
}
.field input[type="submit"]{
  background: #3498db;
  border: 1px solid #2691d9;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Montserrat',sans-serif;
}
.field input[type="submit"]:hover{
  background: #2691d9;
}

.login{
  color: white;
  margin: 20px 0;
  font-family: 'Poppins',sans-serif;
}


.signup{
  font-size: 15px;
  color: white;
  font-family: 'Poppins',sans-serif;
  margin: 17px 0;
}
.signup a{
  color: #3498db;
  text-decoration: none;
}
.signup a:hover{
  text-decoration: underline;
}
.label{
  color: #002F34;
  font-size: 1.2rem;
  font-weight: 500;
}
.google-btn{
  /* background-color: aliceblue; */
  width: 100%;
  justify-content: space-around;
  align-items: center;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Poppins',sans-serif;
}
.arrow-icon{
  color: aliceblue;
  margin: 9px;
  cursor: pointer;
  position: absolute;
}


