.about-page {
  font-family: Arial, sans-serif;
}

.parallax {
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.overlay {
  /* background-color: rgba(133, 132, 132, 0.5);  */
  width: 100%;
  height: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.parallax-title {
  color: #FFDD10;
  font-size: 48px;
  font-weight: bold;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.content-section {
  padding: 50px 20px;
  text-align: center;
}

.parallax-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 20px;
}

.parallax-item {
  width: 300px;
  margin: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.parallax-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.parallax-text {
  padding: 20px;
  text-align: center;
}

.parallax-text h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
}

.parallax-text p {
  font-size: 16px;
  color: #666;
}
