/* Global styles */
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.img-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-img {
  width: 700px;
  padding: 20px;
  border-radius: 50px;
}

.upper-container {
  width: 100%;
  height: auto;
  background-color: #ebd96b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upper-contain {
  padding: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-input {
  min-width: 200px;
  max-width: 350px;
}

.upper-text {
  font-size: 35px;
  font-weight: 900;
  color: #ffffff;
}

.text-sm {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}

.lower-footer {
  width: 100%;
  height: auto;
  background-color: #1C2541;
  display: flex;
  padding-bottom: 30px;
  justify-content: space-around;
  font-family: "Open Sans", sans-serif;
}

.icon-div {
  display: flex;
  /* justify-content: center; */
  gap: 20px;
  padding-top: 20px;
}

.main-icon .icon-div span {
  margin-right: 15px;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
}

.main-icon .icon-div span:hover {
  color: #FFFFFF;
  transform: scale(1.1);
  box-shadow: 0 0 10px 2px rgba(0, 123, 255, 0.5);
  border-radius: 30%;
}

.footer-right-contain li:hover {
  color: #ffdd10;
  cursor: pointer;
}

.icon-div > span > i {
  background-color: #ffdd10;
  width: 40px;
  height: 40px;
  align-items: center;
  font-size: 20px;
  justify-content: center;
  display: flex;
  border-radius: 30%;
}

.footer-right-contain {
  list-style-type: none;
  align-items: flex-start;
  padding-top: 45px;
  line-height: 40px;
  display: flex;
}

@media only screen and (max-width: 900px) {
  .app-img {
    width: 400px;
    padding: 20px;
    border-radius: 40px;
  }

  .upper-contain {
    padding: 40px;
  }

  .upper-text {
    font-size: 30px;
  }

  .text-sm {
    font-size: 16px;
  }

  .footer-right-contain {
    flex-direction: column;
    align-items: flex-start;
  }

  .icon-div > span > i {
    background-color: #ebd96b;
    width: 30px;
    height: 30px;
    font-size: 15px;
  }

  .lower-footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .main-icon {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .app-img {
    width: 300px;
    padding: 10px;
    border-radius: 30px;
  }

  .upper-contain {
    padding: 20px;
  }

  .upper-text {
    font-size: 25px;
  }

  .text-sm {
    font-size: 14px;
  }

  .footer-input {
    min-width: 150px;
    max-width: 300px;
  }

  .icon-div {
    gap: 10px;
  }

  .icon-div > span > i {
    width: 25px;
    height: 25px;
    font-size: 12px;
  }

  .lower-footer {
    padding: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-right-contain {
    flex-direction: column;
    align-items: center;
    line-height: 25px;
  }
}
